**/__pycache__
.pytest_cache
#venv
venv


.coverage

# Log
app.log

db.sqlite3

# Ignore all files in cuurencytrackers/migrations/
cuurencytrackers/migrations/*

# But do not ignore __init__.py
!cuurencytrackers/migrations/__init__.py

debug.log